@{
	string controllerName = this.ViewContext.RouteData.Values["controller"].ToString();
	string actionName = this.ViewContext.RouteData.Values["action"].ToString();

	string lessFullPath = $@"/Areas/{controllerName}/{actionName}/{actionName}.less";
}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>@(controllerName).@actionName</title>

	<!-- FONT -->
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">


	@* TODO: Проверка на существование лесски. *@

	<!-- LESS -->
	<link rel="stylesheet/less" type="text/css" href="/content/less/reset.less" />
	<link rel="stylesheet/less" type="text/css" href="/content/less/layout.less" />
	<link rel="stylesheet/less" type="text/css" href="@lessFullPath" />
	<script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.9.0/less.min.js"></script>

</head>

<body>

	<div class="area-@controllerName.ToLower()-@actionName.ToLower() page-content">
		@this.RenderBody()
	</div>


	<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
			crossorigin="anonymous"
			integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
	</script>
</body>
</html>
