.area-auth-root {
	background: #6dacdc;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	input {
		border: 0;
	}

	.auth-card {
		width: 300px;
		padding: 40px;
		background: #68c72f;
		border-bottom: 5px solid #3b9c00;
	}

	.auth-button {
		background: #ffc617;
		color: #907500;
		border-bottom: 3px solid #957401;
		height: 50px;
		font-size: 20px;
		text-decoration: none;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0 23px;
	}

	.login-form {
		margin-top: -150px;

		input {
			height: 50px;
			font-size: 20px;

			&[type=text], &[type=password] {
				width: 100%;
				padding-left: 20px;
				box-sizing: border-box;
				border-top: 3px solid #3b9c00;
			}
		}

		&__password {
			margin-top: 30px;
		}

		&__submit {
			margin-top: 30px;
		}
	}

	.or-register {
		margin-top: 30px;
	}
}
