
<div class="login-form">

	<input type="text" name="login" class="login-form__login" placeholder="Хуй" />
	<input type="text" name="password" class="login-form__password" placeholder="Жопа" />

	<input type="submit" class="login-form__submit" value="Вход" />

</div>